<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      font-family: 'Courier New', Courier, monospace;
    }

    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 15px;
    }
  </style>
</head>

<body>
</body>

</html>
<script>
  const hosts = JSON.parse('<%-JSON.stringify(hosts)%>');
  const blockList = JSON.parse('<%-JSON.stringify(blockList)%>');
  const timerStop = JSON.parse('<%-JSON.stringify(timerStop)%>');

  hosts.sort((a, b) => {
    const x = parseInt(a.ip.split('.')[3]);
    const y = parseInt(b.ip.split('.')[3]);
    if (x < y) {
      return -1;
    }
    if (x > y) {
      return 1;
    }
    return 0;
  });

  function formatDuration(stopTime) {
    if (stopTime) {
      const sec = Math.floor((stopTime - Date.now()) / 1000);
      return `${Math.floor(sec / 60)}m ${sec % 60}s`;
    }
    return '';
  }

  function send(url) {
    fetch(url).then(() => {
      location.reload();
    })
  }

  const body = () => `
    <table>
    <tr>
        <th colspan="3">Actions</th>
        <th>Host</th>
        <th>IP</th>
        <th>Status</th>
    </tr>
 ${hosts.map(h =>
            `<tr>
            <td><button onclick="send('/block?ip=${h.ip}')">block</button></td>
            <td><button onclick="send('/unblock?ip=${h.ip}')">unblock</button></td>
            <td><button onclick="send('/unblock?ip=${h.ip}&duration=30')">unblock 30</button></td>
            <td>
                ${h.name}
            </td>
            <td>
                ${h.ip}
            </td>
            <td>
                ${h.ip in blockList ? 'Blocked' : 'Free'}
                ${formatDuration(timerStop[h.ip])}
            </td>
        </tr>`
        ).join('')}
    </table>
    `;


  function draw() {
    document.body.innerHTML = body();
  }
  draw();
  setInterval(draw, 1000);
</script>